<!DOCTYPE html>
<html>

    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-cotent">
            {{>header}}    
            <img class="portrait" src="img/Vinay1.JPG">
        </div>

        {{>footer}}
    </body>

</html>